body {
    background-color: #cad7fda4;
    color: #000000;
  }
  
  h1, p {
    margin: 1em auto;
    text-align: center;
  }
  
  form {
    width: 60vw;
      max-width: 500px;
      min-width: 300px;
      margin: 0 auto;
    padding-bottom: 2em;
  }
  
  fieldset {
    border: none;
      padding: 2rem 0;
  }
  
  fieldset:not(:last-of-type) {
    border-bottom: 3px solid #1848A0;
  }
  
  label {
    display: block;
      margin: 0.5rem 0;
  }
  
  input,
  textarea,
  select {
    margin: 10px 0 0 0;
      width: 100%;
    min-height: 2em;
  }
  
  input, textarea {
    background-color: #ededed;
    border: 1px solid #1848A0;
    color: #000000;
  }
  
  .inline {
    width: unset;
    margin: 0 0.5em 0 0;
    vertical-align: middle;
  }
  
  input[type="submit"] {
    display: block;
    width: 60%;
    margin: 1em auto;
    height: 2em;
    font-size: 1.1rem;
    background-color: #1848A0;
    border-color: white;
    min-width: 300px;
  }
  

  .option4 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    }
  
  .option4:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    }
  
    .create_button{
        background-color: #1848A0;
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        transition: background-color 0.3s;
      }
      
      .create_button:hover {
        background-color: #0f2c61;
      }

/*Radio button styling */
input[type="radio"] {
  margin: 10px 5px 0 0;
  width: auto;
  min-height: 0;
}

label[for="male"], label[for="female"], label[for="other"] {
  display: inline-block;
  margin-right: 15px;
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  position: relative;
  background-color: #ededed;
  border: 1px solid #1848A0;
  color: #000000;
  width: 1.2em;
  height: 1.2em;
  cursor: pointer;
}

input[type="radio"]:checked::before {
  content: '\2022';
  font-size: 1.5em;
  color: #1848A0;
  position: absolute;
  top: 0;
  left: 0.25em;
}
