.main {
  display: flex;
  flex-direction : column;
}

.tabs-section {
  display: flex;
  gap: 20px;
  flex: 1;
}

#tab {
  padding: 10px 20px;
  background-color: #1848A0;
  color: #DCDCE2;
  cursor: pointer;
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
  margin-left: auto;
  transform: translate(-0%,-25%);
}

#tab:hover {
  background-color: #030369;
}

.search-bar {
  display : flex;
}

.search-bar input {
  height : 30px;
  border-radius: 20px;
  padding: 0px 20px 0px 5px;
  max-width: 200px;
}

#clear-search {
  align-self : flex-start;
  padding-top: 5px;
  padding-left: 10px;
  cursor: pointer;
}

#clear-search:hover {
  color: red;
}

.search-bar label {
  display: flex;
  align-items: flex-end;
  padding-bottom: 12px;
  padding-left: 20px;
}

select {
  height: 30px;
  padding: 0px 20px 0px 5px;
  border: 1px solid black; /* Adjust the border color as needed */
  border-radius: 4px;
  cursor: pointer;
}

.content {
  display : flex;
  padding: 10px 20px 5px 0px;
  margin-top: 20px;
  gap: 40px;
  border-bottom: 4px solid #000;
}

.rooms {
  padding: 10px; 
  /* flex-grow: 1; */
  overflow-y: auto;
  max-height: 500px;
} 

.option2 {
border-left: 5px solid #010058af;
background-color: var(--Border-color);
color: white;
cursor: pointer;
}

/*Styiling Side Bar */
.sidebar {
  margin-top: 70px;
  position: fixed;
  top: 0;
  right: -300px; /* Initially hidden */
  width: 300px;
  height: calc(100vh - 70px);
  background-color: #f4f4f4;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: right 0.5s ease-in-out;
}

.sidebar-content {
  padding: 20px;
}

.sidebar.sidebar-open {
  right: 0px; /* Adjust based on sidebar width */
}

/*CSS for content area adjustment */
.main {
  overflow-x: hidden; /* Prevent horizontal scrollbar */
  transition: margin-right 0.5s ease-in-out; /* Smooth transition for content adjustment */
}

.main.content-shifted {
  margin-right: 300px; 
}

/* Table Styles Starts Here. */
.styled-table tbody tr:hover {
background-color: #cccccc;
}

.styled-table {
  width: 100%;
  text-align: center;
  border-collapse: separate;
  border-spacing: 0 15px;

}

.styled-table tbody tr {
  background-color: #f0f0f0;
  cursor: pointer;
  border: 1px solid #ccc;
}

.styled-table thead tr {
  background-color: #1e58c4;
  position: sticky;
  /* top: -40px; */
  top : -10px;
}

.styled-table td,
.styled-table th {
  padding: 15px;
}

.styled-table tr td:first-child,
.styled-table tr th:first-child {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.styled-table tr td:last-child,
.styled-table tr th:last-child {
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}


.styled-table tbody tr.row-selected {
  font-weight: bold;
  background-color: #cccccc;
}

/* Table Styles Ends Here. */

.sidebar-content p {
padding-bottom: 20px;
display: flex;
justify-content: space-between;
color: black;
font-weight: bold;
}

.item-value {
color: black;
font-weight: bold;
}

.view {
margin-left: 10px;
width: 280px;
height: 35px;
display: inline-block;
padding: 10px 20px;
font-size: 16px;
font-weight: bold;
text-decoration: none;
cursor: pointer;
border: 2px solid #3498db;
border-radius: 60px;
color: #ffffff;
background-color: #3498db;
transition: background-color 0.3s, color 0.3s;
text-align: center;
}

/* Hover effect */
.view:hover {
background-color: #ffffff;
color: #3498db;
} 

#roomIdHeader {
border-radius: 20px;
margin-bottom: 20px;
background-color: #000;
color: white;
width: 270px;
height: 50px;
text-align: center;
line-height: 2;
}

/* .row-selected {
background-color: #1b2025;
color: white;
}
 */

.greenCheck {
  color: green;
}

.redCross {
  color: red;
}