.option1 {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    color: white;
    cursor: pointer;
    border-radius: 50px;
    }

.option1:hover {
    border-left: 5px solid #010058af;
    background-color: var(--Border-color);
    }

.add_user_btn {
    position: absolute;
    top: 30px;
    right: 30px;
    
    }
    
.add_user{
background-color: #1848A0;
color: white;
border: none;
padding: 10px 20px;
cursor: pointer;
transition: background-color 0.3s;
}

.add_user:hover {
background-color: #0f2c61;
}

.styled-table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    min-width: 100%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table thead tr {
    background-color: #1848A0;
    color: #ffffff;
    text-align: left;
}

.styled-table th,
.styled-table td {
    padding: 12px 15px;
}


.styled-table tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
    border-bottom: 2px solid #1848A0;
}

.styled-table tbody tr.active-row {
    font-weight: bold;
    color: #1848A0;
}

.link {
    width: 100px
}

/* Style for the update button */
.update_button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Change the background color on hover */
  .update_button:hover {
    background-color: #45a049;
  }
  
  /* Style for the delete button */
  .delete_button {
    background-color: #f44336;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  /* Change the background color on hover */
  .delete_button:hover {
    background-color: #d32f2f;
  }
  