header{
    background-color: #b1cce0;
    width: auto;
    padding: 0px;
  }

  .header_img {
      width: 120px;
      height: auto;
      margin-right: 20px;
      padding-left: 50px;
      padding-top: 2px;

  }
