body {
    display: flex;
    font-size: 1.5em;
}

h1 {
    padding-bottom: 30px;
}

.right-section {
    flex : 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

img {
    width: 100%;
    height: 100vh;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center; 
}

label {
    margin-bottom: 8px;
}

input {
    padding: 8px;
    margin-bottom: 32px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}