.center {
margin: 0;
display: flex;
position: absolute;
top: 46%;
left: 55%;
-ms-transform: translate(-50%, -50%);
transform: translate(-50%, -50%);
flex-direction: column;
}

.row{
    display: flex;
}

.btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 23px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 12px;
    height: 100px;
    width: 200px;
}

.btn:hover {
    background-color: #45a049;
}

.btn1{
    margin-right: 10px;
    margin-bottom: 10px;
}

.btn3{
    margin-right: 10px;
}

